body {
    background-image: url('stars.jpg') no-repeat center center fixed;;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    opacity: 0.7;
    z-index: -1;
}
.navbar {
    background-color: rgba(30, 30, 30, 0.8);
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: #32CD32;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Orbitron', sans-serif;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FFD700;
}

.hover-effect:hover {
    color: #FFD700;
    text-shadow: 0 0 10px #FFD700;
    transition: text-shadow 0.3s;
}
